---
layout: default
---
<article class="overview">	
	<div class="masonry-sizer col-md-6"></div>
    <!--
	<div class="masonry-item w-100">
		 <div class="row gap-20">
				 
				 
				 
                 
				<div class="col-md-3" style="margin-bottom:10px">
					 <div class="layers bd bgc-white p-20">
							<div class="layer w-100 mB-10">
								 <h6 class="lh-1">Performance Improvement </h6>
							</div>
							<div class="layer w-100">
								 <div class="peers ai-sb fxw-nw">
										<div class="peer peer-greed"><span id="sparklinedash"></span></div>
										<div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span></div>
								 </div>
							</div>
					 </div>
				</div>
				
			 <div class="col-md-3" style="margin-bottom:10px">
					<div class="layers bd bgc-white p-20">
						 <div class="layer w-100 mB-10">
								<h6 class="lh-1">System Requirement Trending </h6>
						 </div>
						 <div class="layer w-100">
								<div class="peers ai-sb fxw-nw">
									 <div class="peer peer-greed"><span id="sparklinedash2"></span></div>
									 <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span></div>
								</div>
						 </div>
					</div>
			 </div>
			 
			<div class="col-md-3" style="margin-bottom:10px">
				 <div class="layers bd bgc-white p-20">
						<div class="layer w-100 mB-10">
							 <h6 class="lh-1">Total Platform Coverage </h6>
						</div>
						<div class="layer w-100">
							 <div class="peers ai-sb fxw-nw">
									<div class="peer peer-greed"><span id="sparklinedash3"></span></div>
									<div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span></div>
							 </div>
						</div>
				 </div>
			</div>
			
		 <div class="col-md-3" style="margin-bottom:10px">
				<div class="layers bd bgc-white p-20">
					 <div class="layer w-100 mB-10">
							<h6 class="lh-1">Defect Trending </h6>
					 </div>
					 <div class="layer w-100">
							<div class="peers ai-sb fxw-nw">
								 <div class="peer peer-greed"><span id="sparklinedash4"></span></div>
								 <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span></div>
							</div>
					 </div>
				</div>
		 </div>
				

		 </div>
	</div>
	-->
	<!-- Start of mid-section 12 map -->
	<div class="masonry-item col-12" style="margin-bottom:10px">
		 <div class="bd bgc-white">
				<div class="peers fxw-nw@lg+ ai-s">
					 <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
							<div class="layers">
								 <div class="layer w-100 mB-10">
										<h6 class="lh-1">Test Report</h6>
								 </div>
								 <div class="layer w-100">
									 <!-- id=world-map-marker, this comes from ./vector-maps.html -->
										<!-- <div id="world-map-marker"></div> -->
										
													<div class="bgc-light-blue-500 c-white p-20">
														 <div class="peers ai-c jc-sb gap-40">
																<div class="peer peer-greed">
																	 <h5>December 2017</h5>
																	 <p class="mB-0"> Monthly Platform Summary Report</p>
																</div>
																<div class="peer">
																	 <h3 class="text-right"></h3>
																</div>
														 </div>
													</div>
													<div class="table-responsive p-20 hovertable">
														 <table class="table">
																<thead>
																	 <tr>
																			<th class="bdwT-0">Platform Name</th>
																			<th class="bdwT-0">Status</th>
																			<th class="bdwT-0">Date</th>
																			<th class="bdwT-0">Build ID</th>
																	 </tr>
																</thead>
																<tbody>
																	{% for post in site.categories['gordonpeak'] limit: 1  %}
																	 <tr>
																		 
																			<td class="fw-600"><a href="{{site.basename}}/jekyll/gfx_perf/">{{post.categories}}</a></td>
																			<td><span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">Passed</span></td>
																			<td>{{ post.date | date: '%b %d' }}</td>
																			<td><span class="text-success">{{post.imageid}}</span></td>
																	 </tr>
																	 {% endfor %}
																	 <!-- {% for post in site.categories['keystonelake'] limit: 1 %}
																		<tr>
																			
																			 <td class="fw-600">{{post.categories}}</td>
																			 <td><span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">Passed</span></td>
																			 <td>{{ post.date | date: '%b %d' }}</td>
																			 <td><span class="text-success">{{post.imageid}}</span></td>
																		</tr>
																		{% endfor %} -->
																</tbody>
														 </table>
														 <div class="ta-c bdT w-100 p-20"><a href="#">Check all the platforms</a></div>
													</div>
								 																						
													
								 </div>
							</div>
					 </div>
					 <div class="peer bdL p-20 w-30p@lg+ w-100p@lg- customhover">
							<div class="layers">
								 <div class="layer w-100">
										<div class="layers">
											<!-- Dunno what this is but i place it there since the others placed it there:  mT-15 -->
											<!-- Limit is 4 -->
											 <!-- <div class="layer w-100 mT-15"> -->
													<h5 class="mB-5">Summary</h5> 
													<!-- This is the static value shown inside the website --> 
													
													<!-- <small class="fw-600 c-grey-700">Total Test Cases</small> <span class="pull-right c-grey-600 fsz-sm">100</span> -->
													<!-- <div class="progress mT-10"> -->
														<!-- This is the progress bar: please adjust style="width:10%" accordingly --> 
														<!-- class="progress-bar bgc-deep-purple-500" Please adjust this color accordingly: -->
														<!-- bgc-deep-purple-500, bgc-green-500, bgc-light-blue-500, bgc-blue-grey-500 -->
													 
													 
													 
														 <!-- <div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%"><span class="sr-only">50% Complete</span></div> -->
													<!-- </div> -->
											 <!-- </div> -->
											 <!-- End of for loop -->
											 <!-- Dunno what this is but i place it there since the others placed it there:  mT-15 -->
											 <!-- Limit is 4 -->
												<div class="layer w-100 mT-15">
													 <h5 class="mB-5"></h5>
													 <!-- This is the static value shown inside the website -->
													 
													 <small class="fw-600 c-grey-700">Total Passed Test</small> <span class="pull-right c-grey-600 fsz-sm">90%</span>
													 <div class="progress mT-10">
														 <!-- This is the progress bar: please adjust style="width:10%" accordingly -->
														 <!-- class="progress-bar bgc-deep-purple-500" Please adjust this color accordingly:
														 bgc-deep-purple-500, bgc-green-500, bgc-light-blue-500, bgc-blue-grey-500
														-->
														
														
															<div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="sr-only">50% Complete</span></div>
													 </div>
												</div>
												<!-- End of for loop -->
												<!-- Dunno what this is but i place it there since the others placed it there:  mT-15 -->
												<!-- Limit is 4 -->
												 <div class="layer w-100 mT-15">
														<h5 class="mB-5"></h5>
														<!-- This is the static value shown inside the website -->
														
														<small class="fw-600 c-grey-700">Total Failed Test </small> <span class="pull-right c-grey-600 fsz-sm">10%</span>
														<div class="progress mT-10">
															<!-- This is the progress bar: please adjust style="width:10%" accordingly -->
															<!-- class="progress-bar bgc-deep-purple-500" Please adjust this color accordingly:
															bgc-deep-purple-500, bgc-green-500, bgc-light-blue-500, bgc-blue-grey-500
														 -->
														 
														 
															 <div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:10%"><span class="sr-only">50% Complete</span></div>
														</div>
												 </div>
												  <div class="layer w-100 mT-15">
														<h5 class="mB-5"></h5>
														<!-- This is the static value shown inside the website -->
														
														<small class="fw-600 c-grey-700">Total Blocked Test </small> <span class="pull-right c-grey-600 fsz-sm">0%</span>
														<div class="progress mT-10">
															<!-- This is the progress bar: please adjust style="width:10%" accordingly -->
															<!-- class="progress-bar bgc-deep-purple-500" Please adjust this color accordingly:
															bgc-deep-purple-500, bgc-green-500, bgc-light-blue-500, bgc-blue-grey-500
														 -->
														 
														 
															 <div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0"><span class="sr-only">50% Complete</span></div>
														</div>
												 </div>
												 <!-- End of for loop -->
												 <!-- Dunno what this is but i place it there since the others placed it there:  mT-15 -->
												 <!-- Limit is 4 -->
													<div class="layer w-100 mT-15">
														 <h5 class="mB-5"></h5>
														 <!-- This is the static value shown inside the website -->
														 
														 <small class="fw-600 c-grey-700">Total Test Coverage </small> <span class="pull-right c-grey-600 fsz-sm">70%</span>
														 <div class="progress mT-10">
															 <!-- This is the progress bar: please adjust style="width:10%" accordingly -->
															 <!-- class="progress-bar bgc-deep-purple-500" Please adjust this color accordingly:
															 bgc-deep-purple-500, bgc-green-500, bgc-light-blue-500, bgc-blue-grey-500
															-->
															
															
																<div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:70%"><span class="sr-only">50% Complete</span></div>
														 </div>
													</div>
													<!-- End of for loop -->
										</div>
										<!-- <div class="peers pT-20 mT-20 bdT fxw-nw@lg+ jc-sb ta-c gap-10"> -->
											<!--  for loop for each pie chart --> 
											<!--  change color: data-bar-color="#f44336" --> 
											<!--  color list: #f44336, #2196f3, #ff9800 --> 
											<!--  change data-percent="value" --> 
											 <!-- <div class="peer"> -->
													<!-- <div class="easy-pie-chart" data-size="80" data-percent="55" data-bar-color="#f44336"><span></span></div> -->
													<!-- <h6 class="fsz-sm">New Users</h6> -->
											 <!-- </div> -->
											 <!--  end of for loop -->
											 <!-- <div class="peer"> -->
													<!-- <div class="easy-pie-chart" data-size="80" data-percent="55" data-bar-color="#f44336"><span></span></div> -->
													<!-- <h6 class="fsz-sm">New Users</h6> -->
											 <!-- </div> -->
											 <!-- <div class="peer"> -->
													<!-- <div class="easy-pie-chart" data-size="80" data-percent="55" data-bar-color="#f44336"><span></span></div> -->
													<!-- <h6 class="fsz-sm">New Users</h6> -->
											 <!-- </div> -->
											 
											 
										<!-- </div> -->
								 </div>
							</div>
					 </div>
				</div>
		 </div>
	</div>
	<!-- End of 12 column map section -->

	<div class="masonry-item col-md-6" style="height: 1000px">
		<div class="bd bgc-white p-20">

			{% include card-6-dailytest.html %}
		</div>
	</div>



</article>
